@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,500&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --light-col: #495c83;
  --dark-col: #16213e;
  --second-col: #e94560;
}

body {
  background-color: #d9c4b1;
  background-image: radial-gradient(circle, var(--light-col), var(--dark-col));
  font-family: "Roboto";
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.user-profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-profile {
  background-image: url("https://i.pinimg.com/originals/d5/47/af/d547afe394a2caf01f165598ca63c256.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  box-shadow: 0 15px 55px rgba(0, 0, 0, 0.5);
  color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 300px;
  height: 300px;
  z-index: 3;
  border-radius: 10px 10px 10px 10px;
}

.user-profile:hover {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/d/da/BesiktasJK-Logo.svg/1200px-BesiktasJK-Logo.svg.png");
  background-position: bottom;
  background-color: black;
  color:white
}



.user-profile h3 {
  margin: 0;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: white;
}

.user-profile p {
  font-weight: 300;
  letter-spacing: 1px;
  margin: 5px 0 10px;
  color: white;
}


.user-info {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 5px 55px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 30px 0 15px;
  margin-top: -15px;
  width: 80%;
  text-align: center;
  z-index: 2;
}

.user-info h3 {
  margin: 0;
}

.user-info small {
  color: #bbb;
  font-weight: 100;
  font-size: 12px;
  margin: 0;
}

.follow-btn {
  background-color: #0f3460;
  border-radius: 5px;
  color: #fff;
  letter-spacing: 5px;
  margin-top: -30px;
  padding: 30px 0 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 60%;
  z-index: 1;
}
.follow-insta {
  background-color: #0f3460;
  border-radius: 5px;
  color: #fff;
  letter-spacing: 5px;
  margin-top: -30px;
  padding: 30px 0 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 60%;
  z-index: 1;
}

.follow-btn:hover {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/9/95/Instagram_logo_2022.svg");
  background-size: cover;
}

@media screen and (max-width: 480px) {
  .social-panel-container.visible {
    transform: translateX(0px);
  }

  .floating-btn {
    right: 10px;
  }
}
